MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=clas
MYSQL_USER=root
MYSQL_PASSWORD=changeme
AMAP_WEB_SERVICE_KEY=
JWT_SECRET=changeme-min-32-chars-long-key!!
RIDER_IDENTITY_ENCRYPTION_KEY=
CLAS_VERIFICATION_FIXEDCODE=888888
